.c-bar-graph {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  width: 100%;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  font-family: "Caudex", sans-serif;
}
@media (min-width: 45em) {
  .c-bar-graph {
    font-size: 1.1rem;
  }
}
.c-bar-graph__footer {
  border-top: 1px solid rgb(172, 94, 94);
}

.c-bar-graph__footer td {
  line-height: 1.3em;
  font-size: 1.25rem;
  vertical-align: top;
  padding: 0.4rem 0;
  font-weight: 700;
}
.c-bar-graph__cell {
  height: 200px;
  vertical-align: bottom;
  padding-bottom: 0;
  color: white;
}
.c-bar-graph__data {
  height: 30px;
  /* width: 100%; */
  line-height: 30px;
  font-size: 0.9rem;
  display: block;
  margin: 0 10%;
  background: linear-gradient(to bottom, #3654ffd5 0%, #420f0f7c 100%);
  position: relative;
  animation-name: gradient-animation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-radius: 3px;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
.c-bar-graph__helper {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  clear: both;
  display: block;
}
@media (min-width: 45em) {
  .c-bar-graph__helper {
    display: none;
  }
}
